body { 
        height: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin: 0;
        font-family: Helvetica, sans-serif;
}
.cover {
        display: inline-block;
        float: right;      
        margin-bottom: 16px;      
        padding:50px;
        background: rgba(225, 246, 208, 0.5); 
}
#container {  
        display: flex;
        background: url("https://raw.githubusercontent.com/tranduccuong90/team2/master/cover-pic.jpg") no-repeat;
        background-size: cover;
        padding-top: 20px;
        height: 400px;
        width: 100%;
        position: absolute;
        z-index: 9;
}

#box{
       font-size: 20px ;
       padding-left: 20px;
}

.bmi{
      
                background: rgba(225, 246, 208, 0.5);
                padding :20px;
                margin-bottom: 32px;
                padding:25px;
                font-size:18px;
     
}
#footer{
        position: fixed;
        left:0;
        bottom: 0;
        width: 100%;
        font-size: 50%;
        background-color: rgba(225, 246, 208, 0.5);
        color: black;
        text-align: right;

}

#logo{
                width: 300px;
                height: 75px;
        }
        
        __________________

        .box{
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            font-size: 30%;
            font-family: Helvetica;

        }
        #blur{
            display: inline-block;

            block-size:  100%;
            background: rgba(239, 245, 234, 0.5);
        }
        #flex{
            display: inline-block;
            float: right;
            font-size: 150%;
            color:#74ad3e;
        
        }
        #tip{

        background: rgba(225, 246, 208, 0.5); 

        }