<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMR</title>
</head>
<body>
    <div>BMR của bạn là: {{ bmr }}</div>
    <div>Lượng calorie mà bạn cần trong ngày là: {{ need }}</div>
    
    <p>Gợi ý khẩu phần ăn rong tuần</p>
    <div>
           
            
    </div>

    {% for monday in mondays %}
        Title: {{monday.title}} <br>
        Unit: {{monday.unit}} <br>
        Category: {{monday.category}}
        <hr>
    {% endfor %}
    
</body>
</html>