<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Healthy Life</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
   
    <div class="top" id="container"><img id="logo" src="../static/images/logo.png"></div>

    <div class="bmi" >
        
            <b> <i>Tỷ lệ trao đổi chất cơ bản - BMR </i> </b> <br>
               
                Tỷ lệ trao đổi chất cơ bản -BMR là lượng calo mà cơ thể cần 
                để duy trì các hoạt động chức năng: thở, tuần hoàn máu, kiểm soát nhiệt độ cơ thể, 
                tăng trưởng tế bào, não và các cơ quan thần kinh, co cơ. 
                BMR cũng ảnh hưởng đến tỉ lệ đốt cháy calo để giữ cân hay giảm cân.
                số BMR của bạn sẽ chiếm 60%-70% tổng lượng calo mà bạn đốt 1 ngày 
                (điều này phụ thuộc vào 1 số yếu tố khác nhau và cường độ vận động). <br>
                <br>
            <b><i>Chỉ số khối cơ thể -  BMI </i></b> <br>
                Chỉ số khối cơ thể - thường được biết đến với chữ viết tắt BMI
                 theo tên tiếng Anh Body Mass Index - được dùng để đánh giá mức độ gầy hay béo của một người<br>
                 <br>
            <b><i>TDEE (là viết tắt của Total Daily Energy Expenditure)</i></b> <br>
                TDEE là chỉ số calo cần thiết cho cơ thể trong 1 ngày bao gồm tất cả hoạt động ăn chơi ngủ nghỉ mà bạn có trong ngày
    </div>
   
                <form action="" method="POST" class="cover" >
                    <h3>CÁC SỐ ĐO CỦA BẠN:</h3>
                    <label for="">Giới tính</label><br>
                    <select name="sex" id="">
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>
                    </select><br>
                    <label for="">Chiều cao (cm)</label><br>
                    <input type="number" step="0.01" name="height" value="170"> <br>
                    <label for="">Cân nặng (kg)</label><br>
                    <input type="number" step="0.01" name="weight" value="60"> <br>
                    <label for="">Tuổi</label><br>
                    <input type="number" step="0.01"  name="age" value="25"> <br>
                    <br>
                    <label for="">Cường độ vận động</label><br>
                        <input type="radio" name="exercise" value="0" checked>Rất ít, không vận động (làm văn phòng) <br>
                        <input type="radio" name="exercise" value="1">Vận động nhẹ (lao động / tập luyên nhẹ 1-3 ngày / 1 tuần) <br>
                        <input type="radio" name="exercise" value="2">Vận động vừa phải (lao động / tập luyện cường độ trung bình, 3-5 ngày / 1 tuần <br>
                        <input type="radio" name="exercise" value="3">Vận động cao (lao động/ tập luyện khá nặng 6-7 ngày một tuần) <br>
                        <input type="radio" name="exercise" value="4">Vận động vô cùng cao (Lao động/tập luyên rất nặng, 6-7 ngày một tuần) <br> 
                    <br>
                    <button> Kết quả</button>
                </form> 
    
    <div id="footer">
            <p id ="footer1"> Good luck. Have fun. </p>
    </div>
          
    
</body>
</html>