<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Function for BMR</title>
</head>
<body>
    <h3>CHỈ SỐ BMR LÀ GÌ?</h3>
    <div>Việc trao đổi chất liên quan đến các quá trình mà cơ thể cần để hoạt động. Tỷ lệ trao đổi chất cơ bản (BMR – Basal Metabolic Rate) là lượng calo mà cơ thể cần để duy trì các hoạt động chức năng: thở, tuần hoàn máu, kiểm soát nhiệt độ cơ thể, tăng trưởng tế bào, não và các cơ quan thần kinh, co cơ. BMR cũng ảnh hưởng đến tỉ lệ đốt cháy calo để giữ cân hay giảm cân. Số BMR của bạn sẽ chiếm 60%-70% tổng lượng calo mà bạn đốt 1 ngày (điều này phụ thuộc vào 1 số yếu tố khác nhau và cường độ vận động).   
    </div>

    <form action="" method="POST">
        <h3>TÍNH CHỈ SỐ BMR</h3>
        <label for="">Giới tính</label><br>
        <select name="sex" id="">
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select><br>
        <label for="">Chiều cao (cm)</label><br>
        <input type="number" step="0.01" name="height"> <br>
        <label for="">Cân nặng (kg)</label><br>
        <input type="number" step="0.01" name="weight"> <br>
        <label for="">Tuổi</label><br>
        <input type="number" step="0.01"  name="age"> <br><br>

        <label for="">Cường độ vận động</label><br>
        <select name="ex" id="">
            <option value=""></option>
            
        </select><br>
        <button>Kết quả</button>
    </form>

</body>
</html>