<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Function for BMR</title>
</head>
<body>
    <h3>CHỈ SỐ BMR LÀ GÌ?</h3>
    <div>Việc trao đổi chất liên quan đến các quá trình mà cơ thể cần để hoạt động. Tỷ lệ trao đổi chất cơ bản (BMR – Basal Metabolic Rate) là lượng calo mà cơ thể cần để duy trì các hoạt động chức năng: thở, tuần hoàn máu, kiểm soát nhiệt độ cơ thể, tăng trưởng tế bào, não và các cơ quan thần kinh, co cơ. BMR cũng ảnh hưởng đến tỉ lệ đốt cháy calo để giữ cân hay giảm cân. Số BMR của bạn sẽ chiếm 60%-70% tổng lượng calo mà bạn đốt 1 ngày (điều này phụ thuộc vào 1 số yếu tố khác nhau và cường độ vận động).   
    </div>

    <form action="" method="POST">
        <h3>TÍNH CHỈ SỐ BMR</h3>
        <label for="">Giới tính</label><br>
        <select name="sex" id="">
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select><br>
        <label for="">Chiều cao (cm)</label><br>
        <input type="number" step="0.01" name="height"> <br>
        <label for="">Cân nặng (kg)</label><br>
        <input type="number" step="0.01" name="weight"> <br>
        <label for="">Tuổi</label><br>
        <input type="number" name="age"> <br>
        <br>
        <label for="">Cường độ vận động</label><br>
            <input type="radio" name="exercise" value="0">Rất ít, không vận động (làm văn phòng) <br>
            <input type="radio" name="exercise" value="1">Vận động nhẹ (lao động / tập luyên nhẹ 1-3 ngày / 1 tuần) <br>
            <input type="radio" name="exercise" value="2">Vận động vừa phải (lao động / tập luyện cường độ trung bình, 3-5 ngày / 1 tuần <br>
            <input type="radio" name="exercise" value="3">Vận động cao (lao động/ tập luyện khá nặng 6-7 ngày một tuần) <br>
            <input type="radio" name="exercise" value="4">Vận động vô cùng cao (Lao động/tập luyên rất nặng, 6-7 ngày một tuần) <br> 
        <br>
        <button>Kết quả</button>
    </form>

</body>
</html>