<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu planning</title>
</head>
<body>
    <div>BMI của bạn là</div>
    <div>BMR của bạn là: {{ bmr }}</div>
    <div>Lượng calorie mà bạn cần trong ngày là: {{ need }}</div>

    <h3>Danh sách món ăn</h3>
    <div>{{ breakfast.title }} {{ breakfast.unit}}</div>
    <div>{{ breakfast.calori}}</div>
    {% for snack in snacks %}
        {{snack.title}}
    {% endfor %}

</body>
</html>