<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
</head>
<body>
    <div>1. Tình trạng: {{ status }}</div>
    <div>2. Lượng calorie để giữ cân: {{ need }}</div>
    <div>3. Lượng calorie khuyến cáo: {{ suggest }}</div>
    <br>
    {% for item in menu_list %}
        <span>{{ item.title }} - {{ item.unit }}</span>
        <span>({{ item.calori }} calori)</span>
        <br>
    {% endfor %}
</body>
</html>